---
import LinkWithArrow from '../components/LinkWithArrow.astro'
import ProjectSection from '../components/ProjectSection.astro'
import SocialLink from '../components/SocialLink.astro'
import Github from '../components/svgs/Github.astro'
import Linkedin from '../components/svgs/Linkedin.astro'
import Layout from '../layouts/Layout.astro'

let trainingTech = ['Typescript', 'Next.js', 'Tailwind', 'tRPC', 'Prisma', 'MySql']
let generatorTech = [
	'Typescript',
	'Next.js',
	'Tailwind',
	'tRPC',
	'Prisma',
	'DALLE-2',
	'Stripe',
	'AWS S3',
	'AWS Amplify'
]
let marketplaceTech = ['Typescript', 'Next.js', 'Tailwind', 'Shadcn', 'AWS S3', 'Postgresql']
---

<Layout title="Piotr Michalski - Fullstack Developer">
	<header class="w-10/12 space-y-4">
		<h1 class="text-4xl font-bold text-slate-200">Piotr Michalski</h1>
		<h2 class="text-xl font-bold text-slate-200">Fullstack Developer</h2>
		<p class="tracking-tight">
			I build pixel-perfect, engaging, and accessible digital experiences.
		</p>
		<div class="flex gap-4">
			<SocialLink href="https://github.com/pmichalski98">
				<Github />
			</SocialLink>
			<SocialLink href="https://www.linkedin.com/in/piotr-michalski-18babb259/">
				<Linkedin />
			</SocialLink>
		</div>
		<div>
			<LinkWithArrow href="./CV.pdf" label="View full CV" />
		</div>
	</header>
	<main class="mt-20 space-y-10">
		<section class="space-y-4">
			<h2 class="text-xl font-bold uppercase text-slate-200">About</h2>
			<p class="">
				Hi, my name is Peter, I'm a 25 year's old junior fullstack developer.<br />
				<br /> My primary tech stack is Next.js/TypeScript/Tailwind.css, but I am not limited to these
				and remain open to developing my skills in other technologies.<br /><br /> I’ve started programming
				about a year ago and I want to evolve in that field.
				<br />
				<br />
				My main focus is to gain experience working on interesting projects using cutting-edge technology.
			</p>
		</section>
		<section>
			<h2 class="text-xl font-bold uppercase text-slate-200">Projects</h2>
			<div class="my-10 space-y-16">
				<ProjectSection
					description=`An application created for my own needs as I work out at the gym and it has always been a
			problem to keep track of progression in given exercises, until recently I did it in Excel.`
					imageLink="./training-manager.png"
					title="Training Manager"
					githubLink="https://github.com/pmichalski98/training-manager-latest"
					liveLink="https://t3-gymapp.vercel.app/"
					technologies={trainingTech}
				/>
				<ProjectSection
					description=`Little wrapper built on top of Openai's image generator model DALLE-2. It has some predefined prompts, so images look better.`
					imageLink="./generator.png"
					title="Generator Ikon"
					githubLink="https://github.com/pmichalski98/icon-generator"
					liveLink="https://www.generatorikon.pl/"
					technologies={generatorTech}
				/>
				<ProjectSection
					description=`Unique car marketplace platform built in collaboration with another dev and a UI/UX designer. Our vision is to create an online space unlike traditional car marketplaces. This platform is designed exclusively for car enthusiasts who appreciate and seek out unique or modified vehicles.`
					imageLink="./car-marketplace.png"
					title="Car Marketplace"
					githubLink="https://github.com/pmichalski98/car-marketplace"
					liveLink="https://car-marketplace-coral.vercel.app/"
					technologies={marketplaceTech}
					isFinished={false}
				/>
			</div>
		</section>
		<section>
			<h2 class="text-xl font-bold uppercase text-slate-200">Experience</h2>
		</section>
	</main>
</Layout>
